.register-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-text {
    font-size: 1.5em;
    margin-bottom: 50px;
    color: rgb(255, 217, 0);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    gap: 15px;
    text-align: left;
}

.username, .email, .password, .confirm {
    display: flex;
    flex-direction: column;
}

.register-btn {
    width: 150px;
    margin: 20px 0;
    border-radius: 20px;
}

.login-btn {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    background-color: #F0F0F0;
    padding: 10px;
    margin-top: -1px;
}

.login-btn:hover {
    color: black;
}