.seccion {
    background-color: darkslategray;
    padding: 1rem;
    margin: 1rem;
}

.parrafo {
    background-color: white;
    padding: 1rem;
}

.papelera {
    display: flex;
    justify-content: center;
}

img {
    border: 1px dashed black;    
}